body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    width: 100%;
    height: 100%;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: #0e72ff;
}

.calculator {
    margin: 20px auto;
    width: 330px;
    height: 450px;
    border: 1px solid #454A4C;
    border-radius: 4px;
}

.screen {
    position: relative;
    width: 100%;
    height: 25%;
    color: #FFF;
    background-color: #34649b;
}

.buttons {
    position: relative;
    width: 100%;
    height: 75%;
    margin: 0;
    background-color: rgb(129, 157, 186);
}

.btn {
    position: relative;
    outline: 1px solid rgb(151, 152, 153);
    width: 25%;
    height: 20%;
    margin-right: -4px;
    margin-bottom: -4px;
    display: inline-block;
}

.btn-num {
    color: #000;
    background-color: hsl(212, 13%, 72%);
}

.btn-zero {
    width: 50%;
    color: #000;
    background-color: hsl(212, 13%, 72%);
}

.btn-zero:hover,
.btn-num:hover {
    background-color: hsl(192, 5%, 80%);
}

.btn-op {
    color: #FFF;
    background-color: #FFB61D;
}

.btn-op:hover {
    background-color: #d99b19;
}

.btn-text {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.screen-text {
    position: absolute;
    bottom: 75%;
    right: 5%;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 75px;
}

.screenhistory-text {
    position: absolute;
    top: 60%;
    right: 5%;
    width: 100%;
    text-align: right;
    font-size: 14px;
}

